.App {
  font-family: Arial, sans-serif;
  background-color: #edecec;
  min-height: 100vh;
}

.Navbar {
  background-color: #4f2a93;
  color: #ffffff;
  padding: 20px;
  font-size: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TodoList {
  flex: 1;
  margin-right: 20px;
  padding: 20px; /* Added padding inside the TodoList */
}

.WindRose {
  flex: 1;
}

.TodoList h2 {
  font-size: 24px;
}

.TodoList ul {
  list-style-type: none;
  padding: 0;
}

.TodoList li {
  margin-bottom: 8px;
}

.todo-card {
  width: 100%;
  border-collapse: collapse;
}

.todo-card tr {
  border: none;
}

.todo-card td {
  border: none;
  padding: 4px 8px;
  text-align: left;
  vertical-align: top;
}

.TodoList .task-text {
  font-size: 18px;
  overflow-wrap: break-word;
}

.TodoList button {
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid #4f2a93;
  background-color: #4f2a93;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right: 4px;
}

.TodoList button:hover {
  background-color: #6d46b1;
}

.todo-card-container {
  border: 1px solid #4f2a93;
  border-radius: 4px;
}

.todo-card-container:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

WindRose {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the WindRose container */
}

.wind-rose-container {
  text-align: center; /* Center the WindRose title */
  padding: 20px; /* Add padding around the WindRose container */
}
.todo-card-container.completed {
  background-color: #e38fce; /* Change to the desired grey color */
}

.WindRose {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the WindRose container */
}

.wind-rose-container {
  text-align: center; /* Center the WindRose title */
  padding: 20px; /* Add padding around the WindRose container */
}